:root {
    /* Create a colour scheme here */
    --primary: #8b4cb5;
    --primary-variant: #B680D1;
    --on-primary: #ffffff;

    --secondary: #00b9c7;
    --secondary-variant: #008084;
    --on-secondary: #ffffff;
    
    --background: #8b4cb5;
    --on-background: #ffffff;
    
    --surface: #ffffff;
    --on-surface: #000000;
    
    --error: #780018;
    --on-error: #ffffff;

    /* Create some height variables here */
    --height: 56px;
}