body, html {
    width: 100%;
    height: 100vh;
    margin: 0px;
}

.backdrop {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.background {
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    z-index: 1;
}


.title-bar {
    background-color: var(--primary);
    color: var(--on-primary);
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    z-index: 0;
}

.menu {
    fill: var(--on-primary);
    display: inline-block;
    padding: 16px;
    height: 24px;
    width: 24px;
    vertical-align: top;
}

.menu:hover {
    cursor: pointer;
}

.title {
    display: inline-block;
    padding: 16px;
    vertical-align: top;
    font-size: 24px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

.subtitle-container {
    background-color: var(--surface);
    color: var(--on-surface);
    border-bottom: 1px solid var(--primary);
    height: 48px;
    overflow: hidden;
    position: fixed;
    z-index: 3;
    width: calc(100% - 32px);
    margin-left: 16px;
    text-align: left;
}

.subtitle {
    display: inline-block;
    padding-top: 16px;
    font-size: 16px;
    padding-bottom: 16px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}

.background-content-container {
    margin-top: 0;
    padding-top: 16px;
    overflow: hidden;
    height: calc(100% - 128px);
    width:100%;
    z-index: 0;
}
.foreground-container {
    height: calc(100vh - var(--height));
    margin-top: calc(-100vh + var(--height));
    z-index: 2;
    width: 100%;
    overflow: hidden;
}

.foreground {
    background-color: var(--surface);
    color: var(--on-surface);
    width: 100%;
    top: var(--height);
    border-radius: 16px 16px 0 0;
    height: calc(100vh - var(--height));
    display: inline-block;
    text-align: center;
    z-index: 2;
    overflow: auto;
    position: fixed;
    box-shadow: 0px 0px 1px black;
    z-index: 1;
}

.reveal-foreground:hover {
    cursor: pointer;
}

.show-foreground-button {
    fill: var(--on-surface);
    position: absolute;
    right: 0;
    display: inline-block;
    vertical-align: top;
    padding: 16px;
}

.hidden {
    display: none;
}

.animated-scroll-forwards {
    animation-name: animated-scroll-forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.animated-scroll-backwards {
    animation-name: animated-scroll-backwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


.foreground-content-container {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 48px;
    position: relative;
    text-decoration: none;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .foreground-content-container {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-decoration: none;
    }
}

@keyframes animated-scroll-forwards {
    0% {
        margin-top: var(--height);
    }
    100% {
        margin-top: calc(100vh - calc(var(--height) * 2));
    }
}

@keyframes animated-scroll-backwards {
    0% {
        margin-top: calc(100vh - calc(var(--height) * 2));
    }
    100% {
        margin-top: 0px;
    }
}