.below {
    box-shadow: 0 0 16px var(--primary-variant);
}
.above {
    box-shadow: 0 0 16px var(--primary-variant);
}
.on-drag {
    box-shadow: 0 0 16px var(--secondary);
}
.drag-and-drop {
    padding: 20px;
    border: 1px solid red;
    margin: 5px;
}