.title {
    font-family: 'Roboto', sans-serif;
}

.form-container {
    display: flex;
    flex-wrap: wrap;

}

.form-component {
    width: calc(100% - 32px);
    max-width: 300px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    margin-top: 16px;
}

.input-container {
    border: 1px solid var(--secondary);
    border-radius: 16px;
    padding: 32px;
    margin-top: -28px;
}

.static-input-container {
    border: 1px solid var(--secondary);
    border-radius: 16px;
    padding: 32px;
}


.preview-image {
    width: 100%;
    height: 200px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
    overflow: hidden;
}

.preview-image:hover {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}


.create-step-row {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 8px;
    border-radius: 32px;
    width: calc(100%);
}

.recipe-info-text {
    margin-top: 16px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.recipe-info {
    border-radius: 32px;
    margin-top: 8px;
}

.input-detail {
    display: inline-block;
    width: 100%;
    padding: 16px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    vertical-align: top;
    height: 56px;
    border: 1px solid var(--primary-variant);
    outline: none;
}

.recipe-description {
    height: fit-content;
}

.text-area {
    /* min-height: 50%; */
    /* overflow-y: auto; */
    margin-top: 8px;    
    border: 1px solid var(--primary-variant);
    background-color: var(--on-surface);
    font-size: 24px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    padding: 16px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    outline: none;
    text-align: left;

}

.text-area:focus {
    animation-name: inputFocus;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-sizing: border-box;
}

.input-detail:focus {
    animation-name: inputFocus;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-sizing: border-box;
}

.list-input-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    border: 1px solid var(--secondary);
    width: 45%;
    display: inline-block;
    line-height: 24px;
    padding: 12px 0 12px 0;
    text-align: center;
    box-sizing: border-box;
    border-radius: 32px;
    background-color: var(--surface);
}

.input-addition {
    display: inline-block;
    width: 45%;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    vertical-align: top;
    height: 56px;
    border: 1px solid var(--secondary);
    background-color: var(--surface);
    line-height: 56px;
    margin-top: -28px;
    box-shadow: 0 0 8px var(--secondary);
}

.input-addition:hover {
    cursor: pointer;
    border-color: var(--secondary-variant);
    box-shadow: 0 0 16px var(--secondary);
}

.add-step {
    height: 56px;
    width: 56px;
    float: right;
    fill: var(--on-primary);
}

.add-step-text {
    float: left;
    padding-left: 16px;
}

.recipe-step {
    border-radius: 32px 32px 32px 32px;
}

.hide-submit-button {
    display: none;
}

.floating-save-recipe-button {
    background-color: var(--primary-variant);
    width: 56px;
    height: 56px;
    position: fixed;
    right: 16px;
    bottom: 16px;
    border-radius: 50%;
    z-index: 2;
    fill: var(--on-primary);
    padding: 10px;
    box-sizing: border-box;
}

.pro-padding {
    height: 120px;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .form-container {
        display: inline-flex;
    }

    .form-component {
        margin: 16px;
    }
}

@keyframes inputFocus {
    0% {
        box-shadow: 0 0 0 var(--secondary-variant);
    }

    100% {
        box-shadow: 0 0 16px var(--primary-variant);
    }
}