.login-container {
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
    color: var(--on-surface);
    border: 1px solid var(--secondary);
    box-sizing: border-box;
    max-width: 350px;
    width: calc(100% - 32px);
}

.login-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding: 16px;
}

.login-input {
    outline: none;
    border: 1px solid var(--secondary);

    border-radius: 32px;
    line-height: 24px;
    width: 250px;
    font-size: 24px;
    padding-left: 8px;
    box-sizing: border-box;
    padding-left: 16px;
    animation-name: inputLostFocus;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    height: 56px;
    font-family: 'Roboto', sans-serif;

}

.login-input:focus {
    animation-name: inputFocus;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-sizing: border-box;
}

.login-button {
    background-color: transparent;
    color: var(--on-surface);
    outline: none;
    border: 1px solid var(--secondary);
    width: 200px;
    padding: 8px;
    border-radius: 32px;
    font-size: 24px;
    line-height: 24px;
    margin-top: 32px;
    text-align: center;
    margin-left: auto;

}

.login-button:hover {
    cursor: pointer;
    animation-name: inputFocus;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.error {
    background-color: var(--error);
    color: var(--on-error);
}

.login-icon {
    display: block;
}

.logged-in-icon {
    display: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--primary-variant);
}

.account-image {
    width: 24px;
    height: 24px;
    object-fit: cover;
    overflow: none;
    border-radius: 50%;
}

.go-to {
    margin-top: 32px;
    background-color: transparent;
    border: none;
    padding: 12px;
    border-radius: 32px;
    color: var(--on-surface);
    outline: none;
}

.go-to:hover {
    cursor: pointer;
    animation-name: inputFocus;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.profile-image-preview {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.file-uploader {
    display: none;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

@media only screen and (min-width: 600px) {
    .login-container {
        width: 600px;
        max-width: 800px;
        padding: 32px 120px 32px 120px;
        box-sizing: border-box;
        display: inline-block;
    }
}

@keyframes inputFocus {
    0% {
        box-shadow: 0 0 0 var(--secondary-variant);
    }
    100% {
        box-shadow: 0 0 16px var(--secondary-variant);
    }
} 

@keyframes inputLostFocus {
    0% {
        box-shadow: 0 0 16px var(--secondary-variant);
    }
    100% {
        box-shadow: 0 0 0 var(--secondary-variant);
    }
} 