.recipe-container {
    display: inline-block;
    width: 100%;
    max-width: 300px;
}

.switcher-container {
    display: inline-block;
    width: 100%;
    height: 56px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.switcher {
    border-radius: 32px;
    width: 40%;
    height: 56px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 24px;
    padding: 16px;
    background-color: var(--primary);
    
}

.active-switcher {
    background-color: var(--secondary);
    box-shadow: 0 0 8px var(--secondary-variant);
}

.step-row {
    display: inline-block;
    box-sizing: border-box;

    margin-bottom: 8px;
    border-radius: 0px 32px 32px 0px;
    width: 100%;
}

.step-description {
    display: inline-block;
    width: calc(100% - 60px);
    padding: 16px;
    font-size: 24px;
    border-radius: 0px 32px 32px 0px;
    box-sizing: border-box;
    vertical-align: top;
    height: 56px;
    border: 1px solid var(--primary);
}

.status {
    display: inline-block;
    width: 56px;
    height: 56px;
    padding: 16px;
    font-size: 24px;
    box-sizing: border-box;
    vertical-align: top;
    border-radius: 50%;
}

.status-incomplete {
    border: 1px solid var(--secondary);

}

.status-complete {
    background-color: var(--secondary);
}

.step-tick {
    width: 24px;
    height: 24px;
    fill: var(--on-primary);
}

.description-complete {
    text-decoration: line-through;
    opacity: 0.5;
}