body {
    overflow-x: hidden;
}

.schedule-container{
    width: calc(100% - 32px);
}

.foreground {
    overflow-x: hidden;
}

.day-container {
    display: inline-block;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: calc(100% - 32px);
    background-color: purple;
}

.day {
    max-width: calc(100% - 32px);
    min-width: calc(100% - 32px);
    background-color: var(--secondary);
    color: var(--on-secondary);
    min-height: 500px;
    margin-bottom: 120px;
    display: inline-block;
    border-radius: 32px;
    position: absolute;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    z-index: 4;
}

.odd {
    left: 50%;
    transform: translateX(-50%);
}

.even {
    left: 50%;
    transform: translateX(-50%);
}

.exit-right {
    animation: exit-to-right;
    background-color: var(--secondary-variant);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.exit-left {
    animation: exit-to-left;
    background-color: var(--secondary-variant);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@media only screen and (min-width: 600px) {
    .day-container {
        display: inline-block;
        width: 100%;
    }

    .day {
        margin-top: 32px;
        min-width: 350px;
        max-width: 350px;
        display: block;
    }

    .schedule-nav {
        display: block;
        width: 56px;
        height: 56px;
        background-color: var(--secondary);
        position: absolute;
        border-radius: 50%;
        top: 250px;
        margin-left: -32px;
        margin-right: -32px;
        fill: var(--on-secondary);
    }

    .schedule-nav:hover {
        cursor: pointer;
    }
    
    .schedule-left {
        left: calc(50% - 175px);
        transform: translateX(-100%);
    }
    
    .schedule-right {
        right: calc(50% - 175px);
        transform: translateX(100%);
    }
}

@keyframes exit-to-right {
    0% {
        left: 50%;
        transform: translateX(-50%);
    }
    
    100% {
        left: 100%;
        transform: translateX(100%);

    }
}

@keyframes exit-to-left{
    0% {
        left: 50%;
        transform: translateX(-50%);
    }

    100% {
        left: -100%;
        transform: translateX(-100%);
    }
}