.recipe-container {
    display: none;
    width: calc(100% -32px);
    max-width: 300px;
}

.switcher-container {
    display: inline-block;
    width: 100%;
    height: 56px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.switcher {
    font-family: 'Roboto', sans-serif;
    border-radius: 32px;
    width: 40%;
    height: 56px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    padding: 20px;
    background-color: var(--primary);
    color: var(--on-primary)
}

.active-switcher {
    background-color: var(--secondary);
    box-shadow: 0 0 8px var(--secondary-variant);
    color: var(--on-secondary)
}

.step-row {
    display: inline-block;
    box-sizing: border-box;

    margin-bottom: 8px;
    border-radius: 0px 32px 32px 0px;
    width: 100%;
    word-wrap: break-word;
}

.step-description {
    display: inline-block;
    width: calc(100% - 70px);
    padding: 16px;
    font-size: 16px;
    border-radius: 0px 32px 32px 0px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid var(--primary);
    font-family: 'Roboto', sans-serif;
}

.status {
    display: inline-block;
    width: 56px;
    height: 56px;
    padding: 16px;
    font-size: 24px;
    line-height: 24px;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 50%;
    color: var(--on-secondary);
    font-family: 'Roboto', sans-serif;
}

.status-incomplete {
    border: 1px solid var(--secondary);

}

.status-complete {
    background-color: var(--secondary);
}

.step-tick {
    width: 24px;
    height: 24px;
    fill: var(--on-primary);
}

.description-complete {
    text-decoration: line-through;
    opacity: 0.5;
}

@media only screen and (min-width: 600px) {
    .recipe-container {
        max-width: 500px;
    }

    .switcher {
        font-size: 24px;
        line-height: 24px;
        padding: 16px;
    }
}