.theme-switcher {
    fill: var(--on-primary);
    display: block;
    border-bottom: 1px solid var(--secondary);
    padding: 16px;
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
}

.theme {
    display: inline-block;
    padding: 16px;
    margin:8px;
    border-radius: 50%;
    box-sizing: border-box;
    height: 56px;
    width: 56px;
}

.theme:hover {
    cursor: pointer;
    box-shadow: 0 0 8px var(--secondary);
}

.selected {
    background-color: var(--secondary);
}

.option-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--on-primary);
}