<div class="container">
    <div id="recipe-selector-container" class="recipe-selector-container">
        <div id="add-recipe-button" class="floating-add-recipe-button"></div>
        <div id="selector-container"></div>
    </div>
    <div id="recipe-container" class="recipe-container">
        <div class="switcher-container">
            <div id="method" class="switcher active-switcher">Method</div>
            <div id="ingredients" class="switcher">Ingredients</div>
        </div>
        <div id="recipe-steps-container"></div>
    </div>
</div>