<div class="container">
    <div id="recipe-selector-container" class="recipe-selector-container">
        <div id="add-recipe-button" class="floating-add-recipe-button"><svg xmlns="http://www.w3.org/2000/svg" class="image-size" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg></div>
        <div id="selector-container"></div>
        <div class="pro-padding"></div>
    </div>
    <div id="recipe-container" class="recipe-container">
        <div class="switcher-container">
            <div id="method" class="switcher active-switcher">Method</div>
            <div id="ingredients" class="switcher">Ingredients</div>
        </div>
        <div id="recipe-steps-container"></div>
        <div id="ingredient-container"></div>
        <div class="pro-padding"></div>
    </div>
</div>