<form action="fileupload" method="post" enctype="multipart/form-data" onSubmit="return validateFormOnSubmit()">
    <div class="form-container">

        
        <div class="form-component">
            <div class="static-input-container">
                <label id="preview" class="preview-container" for="image-input"><img src="/images/placeholder.png" class="preview-image"/></label>
                <input type="file" id="image-input" accept="image/png, image/jpeg" name="filetoupload">
                <label class="floating-save-recipe-button" for="submit-form"><svg xmlns="http://www.w3.org/2000/svg" class="image-size" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/></svg></label>        
                <button id="submit-form" type="submit" class="hide-submit-button"></button>
                
                <div class="recipe-info-text">Recipe Name</div>
                <div class="text-area" id="recipe-name" contenteditable></div>
                <div class="recipe-info-text">Recipe Description</div>
                <!-- <textarea type="text" id="recipe-description" class="input-detail recipe-info recipe-description"></textarea> -->
                <div class="text-area" id="recipe-description" contenteditable></div>
            </div>
        </div>
        <div class="form-component">
            <div class="list-input-title">Method</div>
            <div id="method-step-container" class="input-container"></div>
            
            <div id="method-addition" class="create-step-row recipe-step input-addition">
                <div class="add-step-text">Add</div>
                <svg xmlns="http://www.w3.org/2000/svg" class="add-step" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            </div>
        </div>

        <div class="form-component">
            <div class="list-input-title">Ingredients</div>
            <div id="ingredient-item-container" class="input-container"></div>
            

            <div id="ingredient-addition" class="create-step-row recipe-step input-addition">
                <div class="add-step-text">Add</div>
                <svg xmlns="http://www.w3.org/2000/svg" class="add-step" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            </div>

            <!-- <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div>
            <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div>
            <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div>
            <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div> -->
        </div>
        <div class="pro-padding"></div>
    </div>
</form>