<div class="title">Build your ideal recipe</div>


<form action="fileupload" method="post" enctype="multipart/form-data" ></form>
    <div class="form-container">

    
        <div class="form-component">
            <label id="preview" class="preview-container" for="image-input"><img src="/images/placeholder.png" class="preview-image"/></label>
            <input type="file" id="image-input" accept="image/png, image/jpeg" name="filetoupload">
            <label class="floating-save-recipe-button" for="submit-form"><svg xmlns="http://www.w3.org/2000/svg" class="image-size" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/></svg></label>        
            <button id="submit-form" type="submit" class="hide-submit-button"></button>
            
            <input type="text" id="recipe-name" class="input-detail">
            <input type="text" id="recipe-description" class="input-detail">
        </div>
        <div class="form-component">
            <div>Method</div>
            <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div>
            <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div>
            <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div>
            <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div>
        </div>

        <div class="form-component">
            <div>Ingredients</div>
            <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div>
            <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div>
            <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div>
            <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div>
        </div>
    </div>
</form>