<form action="fileupload" method="post" enctype="multipart/form-data" onSubmit="return validateFormOnSubmit()">
    <div class="form-container">

        
        <div class="form-component">
            <div class="static-input-container">
                <label id="preview" class="preview-container" for="image-input">
                    <div style="position: relative;" class="preview-image">
                        <img src="/images/placeholder.png" class="preview-image" style="position: absolute; left: 0;"/>
                        <div class="preview-image" style="display: inline-block; position: absolute; left: 0; margin-top: 50px;"><svg id="image-upload-button" width="100px" height="100px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" overflow="hidden"><path d="M0 0 24 0 24 24 0 24 0 0Z" fill="none"/><path d="M18 20 4 20 4 6 13 6 13 4 4 4C2.9 4 2 4.9 2 6L2 20C2 21.1 2.9 22 4 22L18 22C19.1 22 20 21.1 20 20L20 11 18 11 18 20ZM10.21 16.83 8.25 14.47 5.5 18 16.5 18 12.96 13.29ZM20 4 20 1 18 1 18 4 15 4C15.01 4.01 15 6 15 6L18 6 18 8.99C18.01 9 20 8.99 20 8.99L20 6 23 6 23 4 20 4Z"/></svg></div>
                    </div>
                </label>
                <input type="file" id="image-input" accept="image/png, image/jpeg, .svg" name="filetoupload">
                <label class="floating-save-recipe-button" for="submit-form"><svg xmlns="http://www.w3.org/2000/svg" class="image-size" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm2 16H5V5h11.17L19 7.83V19zm-7-7c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3zM6 6h9v4H6z"/></svg></label>        
                <button id="submit-form" type="submit" class="hide-submit-button"></button>
                
                <div class="recipe-info-text">Recipe Name</div>
                <div class="text-area" id="recipe-name" contenteditable></div>
                <div class="recipe-info-text">Recipe Description</div>
                <!-- <textarea type="text" id="recipe-description" class="input-detail recipe-info recipe-description"></textarea> -->
                <div class="text-area" id="recipe-description" contenteditable></div>
            </div>
        </div>
        <div class="form-component">
            <div class="list-input-title">Method</div>
            <div id="method-step-container" class="input-container"></div>
            
            <div id="method-addition" class="create-step-row recipe-step input-addition">
                <div class="add-step-text">Add</div>
                <svg xmlns="http://www.w3.org/2000/svg" class="add-step" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            </div>
        </div>

        <div class="form-component">
            <div class="list-input-title">Ingredients</div>
            <div id="ingredient-item-container" class="input-container"></div>
            

            <div id="ingredient-addition" class="create-step-row recipe-step input-addition">
                <div class="add-step-text">Add</div>
                <svg xmlns="http://www.w3.org/2000/svg" class="add-step" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            </div>

            <!-- <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div>
            <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div>
            <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div>
            <div class="create-step-row"><input type="text" class="recipe-step input-detail"></div> -->
        </div>
        <div class="pro-padding"></div>
    </div>
</form>