<!-- <form id="login-form"> -->
    <form id="profile-image-form" action="fileupload" method="post" enctype="multipart/form-data" onSubmit="return validateLoginImage()">
        <label id="profile-image-preview" class="preview-container" style="display: inline-block; position:relative;" for="image-input">
            <div style="position: relative; display:inline-block;" class="preview-image">
                <img src="/images/ProfilePlaceholder.png" id="profile-image" class="profile-image" style="display: inline-block;"/>
                <div id="add-image-button" class="preview-image" style="width: 40px; height: 40px; border-radius: 50%; fill:var(--on-secondary); background-color: var(--secondary); display: inline-block; position: absolute; right: 0; bottom: 0;"><svg xmlns="http://www.w3.org/2000/svg" class="image-size" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg></div>
            </div>
        </label>
        <input type="file" id="image-input" class="file-uploader" accept="image/png, image/jpeg, .svg" name="filetoupload">
        <!-- <label class="floating-save-recipe-button" for="submit-form"><svg xmlns="http://www.w3.org/2000/svg" class="image-size" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/></svg></label>         -->
        <!-- <button id="submit-form" type="submit">Help</button> -->
    </form>
    <div class="login-subtitle">Username</div>
    <input id='name-input' maxlength='8' class="login-input">
    <div class="login-subtitle">Password</div>
    <input type="password" id='password-input' class="login-input">
    <!-- <div id="password-confirmation-container">
        <div class="login-subtitle">Confirm Password</div>
        <input type="password" id='confirm-password-input' class="login-input">
    </div> -->
    <div id="login-buttons-container">
        <button id="login-button" class="login-button">Login</button>
        <br/>
        <button id="go-to-register" class="go-to">Register</button>
    </div>
    <div id="register-buttons-container">
        <div class="login-subtitle">Confirm Password</div>
        <input type="password" id='confirm-password-input' class="login-input">
        <button id="register-button" class="login-button">Register</button>
        <br/>
        <button id="go-to-login" class="go-to">Login</button>
    </div>

    