<!-- <form id="login-form"> -->
    <div class="login-subtitle">Username</div>
    <input id='name-input' maxlength='8' class="login-input">
    <div class="login-subtitle">Password</div>
    <input type="password" id='password-input' class="login-input">
    <!-- <div id="password-confirmation-container">
        <div class="login-subtitle">Confirm Password</div>
        <input type="password" id='confirm-password-input' class="login-input">
    </div> -->
    <div id="login-buttons-container">
        <button id="login-button" class="login-button">Login</button>
        <br/>
        <button id="go-to-register" class="go-to">Register</button>
    </div>
    <div id="register-buttons-container">
        <div class="login-subtitle">Confirm Password</div>
        <input type="password" id='confirm-password-input' class="login-input">
        <button id="register-button" class="login-button">Register</button>
        <br/>
        <button id="go-to-login" class="go-to">Login</button>
    </div>
<!-- </form> -->