<div id="day-container" class="day-container">
    <div id="even-schedule" class="day even">
        <div id="schedule-card-container-even">

        <div id="day-name-even"></div>
        <div id="recipe-4" class="card">
            <div class="card-image">
                <img id="even-breakfast-image" class="image" src="http://flatfish.online:38120/images/IMG_20200209_214516147.jpg"">
            </div>
            <div class="card-body">
                <div id="even-breakfast-title" class="card-title">Name</div>
                <div id="even-breakfast-description" class="card-text">Description</div>
            </div>
        </div>
        <div id="recipe-5" class="card">
         <div class="card-image">
                <img id="even-lunch-image" class="image" src="http://flatfish.online:38120/images/IMG_20200209_214516147.jpg">
            </div>
          <div class="card-body">
                <div id="even-lunch-title" class="card-title">Name</div>
                <div id="even-lunch-description" class="card-text">Description</div>
                </div>
        </div>
        <div id="recipe-6" class="card">
            <div class="card-image">
                <img id="even-dinner-image" class="image" src="http://flatfish.online:38120/images/IMG_20200209_214516147.jpg">
            </div>
            <div class="card-body">
                <div id="even-dinner-title" class="card-title">Name</div>
                <div id="even-dinner-description" class="card-text">Description</div>
            </div>
        </div>
        </div>
    </div>
    
    <div id="odd-schedule" class="day odd">
        <div id="day-name-odd"></div>
        <div id="schedule-card-container-odd">
            <div id="recipe-1" class="card">
                <div class="card-image">
                    <img id="odd-breakfast-image" class="image" src="http://flatfish.online:38120/images/IMG_20200201_134925834.jpg">
                </div>
                <div class="card-body">
                    <div id="odd-breakfast-title" class="card-title">Name</div>
                    <div id="odd-breakfast-description" class="card-text">Description</div>
                </div>
            </div>
            <div id="recipe-2" class="card">
                <div class="card-image">
                    <img id="odd-lunch-image" class="image" src="http://flatfish.online:38120/images/IMG_20200201_134925834.jpg">
                </div>
                <div class="card-body">
                    <div id="odd-lunch-title" class="card-title">Name</div>
                    <div id="odd-lunch-description" class="card-text">Description</div>
                </div>
            </div>
            <div id="recipe-3" class="card">
                <div class="card-image">
                    <img id="odd-dinner-image" class="image" src="http://flatfish.online:38120/images/IMG_20200201_134925834.jpg">
                </div>
                <div class="card-body">
                    <div id="odd-dinner-title" class="card-title">Name</div>
                    <div id="odd-dinner-description" class="card-text">Description</div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div id="desktop-schedule-left" class="schedule-nav schedule-left"><svg xmlns="http://www.w3.org/2000/svg" class="image-size" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/></svg></div>
    <div id="desktop-schedule-right" class="schedule-nav schedule-right"><svg xmlns="http://www.w3.org/2000/svg" class="image-size" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/></svg></div>
</div>